#home{
  margin-left: 16px;
  margin-right: 16px;
  color: white;
  font-weight: bold;
  font-stretch: ultra-expanded;
  font-size: 20pt;
}

.navbarText{
  margin-left: 40px;
  margin-right: 16px;
  color: white;
  font-weight: bold;
  font-stretch: ultra-expanded;
}
nav.navbar{
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1E6BFF), to(#16AFE0));
  background-image: -webkit-linear-gradient(bottom, #1E6BFF 0%, #16AFE0 100%);
  background-image: linear-gradient(to top, #1E6BFF 0%, #16AFE0 100%);
}
.scrollable{
  overflow-y: scroll;
  max-height: 450px;
}
.scrollable::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}
.scrollable::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#5ee7df), to(#b490ca));
  background-image: -webkit-linear-gradient(bottom, #5ee7df 0%, #b490ca 100%);
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.centralizado{
  display: flex;
  justify-content: center;
}
.center-cont{
  text-align: center;
}
.center-cont span{
  font-weight: bold;
  font-stretch: ultra-expanded;
}
.separator{
  height: 6px;
  background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.datepicker td, .datepicker th {
  width: 2em;
  height: 2em;
  font-size: 0.8em;
}
.biometrics{
  color: black;
}
